* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #2a2c36;
    font-family: sans-serif;
}

.App {
    padding: 1.5rem;
}

.App h2 {
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.App .counter-1 {
    padding-bottom: 2rem;
    border-bottom: 2px solid #ffffff;
    width: 300px;
}

.App .counter-2 {
    margin-top: 1.7rem;
}

.App .counter-1 .btn_counter {
    display: flex;
    align-items: center;
    width: 330px;
}

.App .counter-2 .btn_counter {
    display: flex;
    align-items: center;
    width: 330px;
}

.App button {
    border: 0.2rem solid #fff;
    background: transparent;
    color: #fff;
    padding: 10px 25px 10px 25px;
    font-size: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-right: 1.5rem;
    transition: .5s ease;
}

.App button:hover {
    background: #65dbfa;
    color: #000;
    font-weight: bold;
    border: 0.2rem solid #65dbfa;
}

.App p {
    font-size: 3.5rem;
    font-weight: bold;
    color: #65dbfa;
}

.App span {
    margin-left: 1rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: #fff
}
